{
    "agent_name": "uncontrol", 
    "campus": "PNNL", 
    "power_20": -105.43450724787155, 
    "power_21": -90.20371189795857, 
    "power_22": -83.4530922577539, 
    "power_23": -78.35053928488598, 
    "power_5": 44.14162977222996, 
    "power_4": 30.854065392764138, 
    "power_7": -162.90420994240256, 
    "power_6": 30.97974832474335, 
    "power_1": -11.214789080403088, 
    "power_0": -34.87742453299069, 
    "power_3": 17.359888497364132, 
    "power_2": 9.714722139000873, 
    "power_9": -281.5661258977294, 
    "power_8": -292.0510834600246, 
    "power_11": -294.02409292855043, 
    "market_name": "electric", 
    "building": "350_BUILDING",
    "power_10": -286.79348983521334, 
    "power_13": -311.9784228344814, 
    "power_12": -312.0816918675539, 
    "power_15": -325.9372399579655, 
    "power_14": -310.61789828844843, 
    "power_17": -106.48936931002561, 
    "power_16": -52.5056350251213, 
    "power_19": -118.84627644825296, 
    "power_18": -114.93918386358091, 
    "devices": {
        "HP1A": {
            "conversion": "FirstStageCooling*(2)", 
            "points": [
                "FirstStageCooling"
            ]
        }, 
        "HP1B": {
            "conversion": "FirstStageCooling*(2)", 
            "points": [
                "FirstStageCooling"
            ]
        }, 
        "HP2": {
            "conversion": "FirstStageCooling*(2)", 
            "points": [
                "FirstStageCooling"
            ]
        }, 
        "HP3": {
            "conversion": "FirstStageCooling*(7.5)", 
            "points": [
                "FirstStageCooling"
            ]
        }, 
        "HP4": {
            "conversion": "FirstStageCooling*(7.5)", 
            "points": [
                "FirstStageCooling"
            ]
        }, 
        "HP5": {
            "conversion": "FirstStageCooling*(4)", 
            "points": [
                "FirstStageCooling"
            ]
        }, 
        "HP6": {
            "conversion": "FirstStageCooling*(25)", 
            "points": [
                "FirstStageCooling"
            ]
        }, 
        "HP7": {
            "conversion": "FirstStageCooling*(7.5)", 
            "points": [
                "FirstStageCooling"
            ]
        }, 
        "HP8": {
            "conversion": "FirstStageCooling*(20)", 
            "points": [
                "FirstStageCooling"
            ]
        }
    }
}