{
    "agent_name": "uncontrol", 
    "campus": "PNNL", 
    "power_20": 11.586414930555556, 
    "power_21": 11.695616319444444, 
    "power_22": 11.6572265625, 
    "power_23": 11.55544704861111, 
    "power_5": 14.622178819444445, 
    "power_4": 11.580772569444445, 
    "power_7": 23.9666015625, 
    "power_6": 17.683333333333334, 
    "power_1": 11.5888671875, 
    "power_0": 11.639236111111112, 
    "power_3": 11.579448784722222, 
    "power_2": 11.617122395833333, 
    "power_9": 29.134765625, 
    "power_8": 26.660112847222223, 
    "power_11": 30.491341145833335, 
    "market_name": "electric", 
    "building": "SIGMA1", 
    "power_10": 29.71506076388889, 
    "power_13": 31.62988413396482, 
    "power_12": 30.910850694444402, 
    "power_15": 30.3575921474359, 
    "power_14": 31.90020032051282, 
    "power_17": 25.290164262820515, 
    "power_16": 28.37548076923077, 
    "power_19": 10.720290798611112, 
    "power_18": 10.718350974462366, 
    "devices": {
        "HP9": {
            "conversion": "FirstStageCooling*(5)", 
            "points": [
                "FirstStageCooling"
            ]
        }, 
        #"HP8": {
        #    "conversion": "FirstStageCooling*(5)",
        #    "points": [
        #        "FirstStageCooling"
        #    ]
        #},
        "HP3": {
            "conversion": "FirstStageCooling*(5)", 
            "points": [
                "FirstStageCooling"
            ]
        }, 
        "HP2": {
            "conversion": "CompressorCommand*(5)",
            "points": [
                "CompressorCommand"
            ]
        }, 
        "HP1": {
            "conversion": "FirstStageCooling*(6)", 
            "points": [
                "FirstStageCooling"
            ]
        }, 
        "HP7": {
            "conversion": "FirstStageCooling*(5)", 
            "points": [
                "FirstStageCooling"
            ]
        }, 
        "HP6": {
            "conversion": "FirstStageCooling*(6.25)", 
            "points": [
                "FirstStageCooling"
            ]
        }, 
        "HP5": {
            "conversion": "FirstStageCooling*(6)", 
            "points": [
                "FirstStageCooling"
            ]
        }, 
        #"HP4": {
        #    "conversion": "FirstStageCooling*(5)",
        #    "points": [
        #        "FirstStageCooling"
        #    ]
        #},
        "HP11": {
            "conversion": "CompressorCommand*(5)", 
            "points": [
                "CompressorCommand"
            ]
        }, 
        "HP10": {
            "conversion": "FirstStageCooling*(5)", 
            "points": [
                "FirstStageCooling"
            ]
        },
        "METERS": {
            "points": ["WholeBuildingPower"],
            "conversion": "WholeBuildingPower*(-1)"
        }
    }
}