{
    "campus": "PNNL", 
    "building": "3860_BUILDING", 
    "input_data_timezone": "UTC", 
    "supplier_market_name": "air_AHU1", 
    "consumer_market_name": "electric", 
    "agent_name": "ahu1", 
    "inputs": [
        {
            "mapped": "sfs", 
            "point": "SupplyFanStatus", 
            "topic": "devices/PNNL/3860_BUILDING/AHU1/all", 
            "inital_value": 0
        }, 
        {
            "mapped": "oat", 
            "point": "OutdoorAirTemperature", 
            "topic": "devices/PNNL/3860_BUILDING/AHU1/all", 
            "inital_value": 72.0
        }, 
        {
            "mapped": "mat", 
            "point": "MixedAirTemperature", 
            "topic": "devices/PNNL/3860_BUILDING/AHU1/all", 
            "inital_value": 72.0
        }, 
        {
            "mapped": "dat", 
            "point": "DischargeAirTemperature", 
            "topic": "devices/PNNL/3860_BUILDING/AHU1/all", 
            "inital_value": 55.0
        }, 
        {
            "mapped": "saf", 
            "point": "SupplyAirFlow", 
            "topic": "devices/PNNL/3860_BUILDING/AHU1/all", 
            "inital_value": 0.0
        }
    ], 
    "outputs": [], 
    "schedule": {
        "Monday": {
            "start": 6, 
            "end": 17
        }, 
        "Tuesday": {
            "start": 6, 
            "end": 17
        }, 
        "Wednesday": {
            "start": 6, 
            "end": 17
        }, 
        "Thursday": {
            "start": 6, 
            "end": 17
        }, 
        "Friday": {
            "start": 6, 
            "end": 17
        }, 
        "Saturday": "always_off", 
        "Sunday": "always_off"
    }, 
    "model_parameters": {
        "equipment_configuration": {
            "has_economizer": true,
            "economizer_limit": 68.0,
            "supply-air sepoint": 55.0,
            "nominal zone-setpoint": 72.0,
            "building chiller": true
        }, 
        "model_configuration": {
            "c0": 9.1154664389075414e-06, 
            "c1": 2.9772451080607742e-07, 
            "c2": -1.4546619966070355e-11, 
            "c3": 1.7835262437787955e-15, 
            "cpAir": 1.006, 
            "COP": 5.5
        }
    }
}